body {
  margin: 0;
  overflow: hidden;
}

.title-bar {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #3498db;
  color: #fff;
  height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.title {
  flex: 1;
  padding-left: 10px;
}

.controls {
  display: flex;
  padding-right: 10px;
}

.controls div {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.minimize {
  background-color: #2ecc71;
}

.maximize {
  background-color: #f39c12;
}

.close {
  background-color: #e74c3c;
}

.content {
  padding: 10px;
}
