.Profile-Icon {
    text-align: center;
  }
  
  .Profile-Icon img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add some space below the image */
  }
  