.rank-info {
    font-family: Arial, sans-serif;
    background-color: rgb(49, 160, 172);
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    margin-left: 5%;
    text-align: center;
  }
  
  .rank-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .rank-info p {
    padding-top:20%;
    margin: 0;
  }
  