.rank-info {
    font-family: Arial, sans-serif;
    background-color: rgb(134, 209, 200);
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: inline-flex;
    text-align: center;
  }
  
  .rank-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .rank-info p {
    margin: 0;
  }
  