.summoner {
  /* Styling for the container */
  background-color: #6699ff;
  border: 1px solid rgb(12, 26, 54);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.summoner h2 {
  /* Styling for heading elements within the "summoner" class */
  font-size: 36px;
  color: #122b36;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
}

#level {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 30px;
  background-color: rgb(0, 128, 98);
  border: solid black 3px;
  text-align: center;
  font-size: 1.5em;
}

.summoner p {
  /* Styling for paragraph elements within the "summoner" class */
  font-size: 16px;
  color: #122b36;
  margin: 5px 0;
}

.summoner a {
  /* Styling for anchor (link) elements within the "summoner" class */
  text-decoration: none;
  color: #122b36;
}

.summoner a:hover {
  /* Styling for anchor elements on hover */
  text-decoration: underline;
}

.summoner .avatar {
  /* Styling for an element with the class "avatar" within the "summoner" class */
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.summoner button {
  /* Styling for button elements within the "summoner" class */
  background-color: #04111c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.summoner button:hover {
  /* Styling for button elements on hover */
  background-color: #005a9e;
}

/* You can add more styles as needed for your specific use case */
